{{ define "main" }}
    <section class="content">
{{ if not .Params.notitle }}
      <h1>{{ .Title }}</h1>
{{ end }}
      {{- .Content -}}
    </section>
{{ end }}


{{ define "after_main" }}
<section class="children">
{{ if .Sections }}
  {{ range .Sections }}
    <div class="relative">
      {{- partial "summary.html" . -}}
    </div>
  {{ end }}
{{ end }}
  
{{ range .Paginator.Pages }}
    <div class="relative">
      {{- partial "summary.html" . -}}
    </div>
{{ end }}
</section>
{{- template "_internal/pagination.html" . -}}

{{ end }}

