<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ if not .IsHome }}{{with .Title }}{{ . }} &middot; {{ end }}{{ end }}{{ .Site.Title }}</title>
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
{{ if (fileExists "static/apple-touch-icon.png") -}}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
{{ end -}}
{{ if (fileExists "static/favicon-32x32.png") -}}
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
{{ end -}}
{{ if (fileExists "static/favicon-16x16.png") -}}
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
{{ end -}}
{{ if (fileExists "static/site.webmanifest") -}}
<link rel="manifest" href="/site.webmanifest" />
{{ end -}}

{{/*
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous" />
*/}}

{{ $style_resources := slice "colors" "custom_colors" "layout" "custom" }}
{{ .Scratch.Set "styles" slice }}
{{ range $style_resources }}
    {{ $cur_style := printf "scss/%s.scss" . | resources.Get }}
    {{ with $cur_style }}
        {{ $.Scratch.Set "styles" (append $cur_style ($.Scratch.Get "styles")) }}
    {{ end }}
{{ end }}
{{ $style := .Scratch.Get "styles" | resources.Concat "css/style.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
